body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

img {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

.dark-mode h1, .dark-mode p {
    color: #f0f0f0;
}

.dark-mode button {
    background-color: #444;
}

.dark-mode button:hover {
    background-color: #222;
}


