<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid layout</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid"> <!-- main contaner -->
        <div class="box logo" title="linux logo">

        </div>

        <div class="box banner">
            <h1 style="text-align: center; font-size: 2em; margin: 0 auto; position: relative; left: -12vw;" class="mangaro">all about mangaro</h1>

        </div>

        <div class="box nav">
            <a href="index.html">Home</a>      |
            <a href="about.html">About</a>      |
            <a href="pop-os.html">Pop-os</a>      |
            <a href="such-a-awesome-link.html"> a very nice link</a>
        </div>

        <div class="box main">
            <p>main</p>
        </div>

        <div class="box side">
            
        </div>

        <div class="box footer">
            <p>footer</p>
        </div>
    </div>
</body>
</html>